body {
  margin: 0;
  background-color: #06b995;
}

* {
  box-sizing: border-box;
}

.start {
  background-color: #06b995;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  h1 {
    padding: 40px;
    font-size: 40px;
    color: white;
  }
  button {
    margin: 30px auto;
    width: 400px;
    height: 200px;
    background: #ffcc00;
    border-radius: 10px;
    font-size: 50px;
  }
  img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    margin: 30px auto;
  }
}

.game {
  width: 1000px;
  height: 100vh;
  margin: auto;
  display: none;
  text-align: center;
  padding: 70px 0;
  .score {
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffcc00;
    h1 {
      font-size: 60px;
      font-weight: bold;
    }
    .playerscore {
      font-size: 70px;
      font-weight: bold;
    }
    .computerscore {
      @extend .playerscore;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    #rock {
      width: 200px;
      height: 100px;
    }
    #paper {
      @extend #rock;
    }
    #scissors {
      @extend #rock;
    }
  }
}
#message {
  font-size: 60px;
  font-weight: bold;
  color: #ffcc00;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  .modal-contents {
    margin: auto;
    margin-top: 100px;
    height: auto;
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    #reset-div {
      flex-direction: column;
      text-align: center;
      .whowins {
        font-size: 50px;
        color: black;
        padding: 70px 0;
        font-weight: bold;
      }
      #reset {
        margin: 20px auto;
        width: 200px;
        height: 100px;
        background: #ffcc00;
        border-radius: 10px;
        font-size: 40px;
      }
    }
  }
}
