body {
  margin: 0;
  background-color: #06b995;
}

* {
  box-sizing: border-box;
}

.start {
  background-color: #06b995;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  h1 {
    padding: 40px;
    font-size: 40px;
    color: white;
  }
  button {
    margin: 30px auto;
    width: 400px;
    height: 200px;
    background: #ffcc00;
    border-radius: 10px;
    font-size: 50px;
  }
  img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    margin: 30px auto;
  }
}

.game {
  width: 1000px;
  height: 100vh;
  margin: auto;
  display: none;
  text-align: center;
  padding: 70px 0;
  .score {
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffcc00;
    h1 {
      font-size: 60px;
      font-weight: bold;
    }
    .playerscore {
      font-size: 70px;
      font-weight: bold;
    }
    .computerscore {
      @extend .playerscore;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    #rock {
      width: 200px;
      height: 100px;
    }
    #paper {
      @extend #rock;
    }
    #scissors {
      @extend #rock;
    }
  }
}
#message {
  font-size: 60px;
  font-weight: bold;
  color: #ffcc00;
}

#reset-div {
  display: none;
  flex-direction: column;
  text-align: center;
  .whowins {
    font-size: 50px;
    color: white;
    padding: 70px 0;
    font-weight: bold;
  }
  #reset {
    margin: 30px auto;
    width: 300px;
    height: 150px;
    background: #ffcc00;
    border-radius: 10px;
    font-size: 40px;
  }
}
